extends layout.pug

block content

  h1 Simple Auth-System
    ul
      li
        a(href='/') Home
      li
        a(href='/register') Sign Up

  if errors
    each val in errors
      div.alert.alert-danger= val.msg

  div.container.row
    .jumbotron.col-sm-4.pull-center
      form(action='/user/login', method='post')
        div.form-group
          label(for='user') Username:
          input#user.form-control(type='text', name='username')
        div.form-group
          label(for='pass') Password:
          input#pass.form-control(type='password', name='password')
        div
          input.btn.btn-primary(type='submit', value='Log In')