extends layout.pug

block append head
  script.
    var name = "#{username}";
    var posts = !{posts}

  link(rel="stylesheet" type="text/css" href="stylesheets/profile.css")
  script(type='text/javascript' src='../scripts/profile.js')

block content
  main(role='main')
    div.posts
      div.user-container.container
        h1=(username)
        p bio
      .form-container
        form(action='/user/profile', method='post')
          div.form-group
            textarea#status.form-control(type='textbox', name='text', data-gramm_editor="false")
          div
            input.btn.btn-primary(type='submit', value='Post')
        if (!posts[0])
          h1 no posts yet
        else
          ul#pl

