extends layout.pug

block append head
  script.
    var name = "#{username}";
    var posts = !{posts}

  link(rel="stylesheet" type="text/css" href="/stylesheets/profile.css")
  script(type='text/javascript' src='/scripts/profile.js')

block content
  main(role='main')
    div.posts
      div.user-container.container
        h1=(username)
        p bio

        if (!posts[0])
          h1 no posts yet
        else
          ul#pl