extends layout.pug

block append head
  script.
    var name = "#{username}";
    var posts = !{posts}
    var following = !{following}

  link(rel="stylesheet" type="text/css" href="/stylesheets/profile.css")
  script(type='text/javascript' src='/scripts/profiles.js')

block content
  main(role='main')
    div.posts
      div.user-container.container
        h1=(username)
        p bio
        form#follow(action=`` method="post")
        button#follo(type="submit" form="follow" value="Submit")

        if (!posts[0])
          h1 no posts yet
        else
          ul#pl