extends layout.pug

block append head
  link(rel="stylesheet" type="text/css" href="stylesheets/profile.css")
  script(href="scripts/profile.js")

block content
  - let name = username.username;
  main(role='main')
    div.posts
      div.user-container.container
        h1=(name)
        p bio
      .form-container
        form(action='/profile', method='post')
          div.form-group
            textarea#status.form-control(type='textbox', name='status')
          div
            input.btn.btn-primary(type='submit', value='Post')
        h1 no posts yet

