body {
  padding-top: 6rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  background: #888daa;
  background: -moz-linear-gradient(top, #888daa 0%, #888daa 0%, #626377 46%, #44465f 98%);
  background: -webkit-linear-gradient(top, #888daa 0%,#888daa 0%,#626377 46%,#44465f 98%);
  background: linear-gradient(to bottom, #888daa 0%,#888daa 0%,#626377 46%,#44465f 98%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888daa', endColorstr='#44465f',GradientType=0 );
}



/* POST CARDS
-------------------------------------------------- */

.posts {
  .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  h2 {
    font-weight: 400;
  }
  .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  .col-lg-4 a {
    border: solid;
    border-width: 2px;
    background-color: #BDC3C3;
    border-color: #4A4250;
  }
}

/* FOOTER
-------------------------------------------------- */

footer {
  color: white;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}