body {
  padding-top: 4.5rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

#status {
  height: 100px;
}

.form-container {
  margin: 0 auto;
  width: 500px;
}

.posts {
  background-color: black;
  margin: 75px;
  color: white;
  min-height: 100px;
  text-align: center;
}

